<div class="body">
  <div class="time">{{time}}</div>
  <div class="content">
    <div class="openedInfo">
      <div class="first-line">
        <div class="format">{{format}}</div>
        <div class="teacher">{{teacher}}</div>
        <div class="edit-button"><img *ngIf="canEdit" src="../../assets/pencil.svg" alt=""></div>
      </div>
      <div class="second-line title">
        <h4>{{title}}</h4>
      </div>
      <div class="third-line theme">{{theme}}</div>
    </div>

    <div *ngIf="opened === 'opened'" class="borderLine"></div>
    <div *ngIf="opened === 'opened'" class="homeWork">{{homeWork}}</div>
  </div>
</div>
