<header class="">
  <div class="logo ">
    <h1>EDU</h1>
  </div>

  <div class="block_info ">
    <h2>Рассписание</h2>
  </div>

  <div class="time_info ">
    <h1>22:10</h1>
  </div>

  <div class="sing_in_up ">
    <div class="button">Авторизоваться</div>
  </div>
</header>

<main>

  <div class="tool_list">
    <div class="content-block">
      <img src="../assets/calendar-alt-active.svg" alt="">
      <img src="../assets/book-alt.svg" alt="">
      <img src="../assets/head-side.svg" alt="">
      <img src="../assets/brain.svg" alt="">
    </div>
  </div>
  <div [class]="renderMainInfo()" id="mi">

    <div class="daily-sticker" *ngFor="let v of stickerCount; let i = index">

      <daily-sticker
        [isToday]="_data.lessons[i][0].formatDate.getDay() === currentDay"
        [stickerNum]="i"
        (opened)="toggleScrollable($event)"
        [data]="_data.lessons[i]"
      ></daily-sticker>

    </div>

  </div>

</main>
