<div [class]="renderWrap()">
<div [class]="renderBody()">

<div class="sticker-header">
  <h3>{{dayString[dayNum - 1]}}</h3>
  <span class="date">, {{dateNum}} {{shortMonthsString[monthNum]}}</span>

  <div class="see-more" (click)="toggleSticker()">{{toggleText[_toInt(localOpened)]}}</div>
</div>
<div class="columnsTitle" *ngIf="localOpened">
  <h3>Занятия</h3>
  <h3>Домашнее задание</h3>
</div>

<div class="sticker-content">
  <div class="lesson" *ngFor="let lesson of data; let i = index">
    <lesson
      [data]="lesson"
      [opened]="localOpened ? 'opened' : 'hidden'"
    ></lesson>
    <div class="big-space" *ngIf="i === 2 && !localOpened"></div>
  </div>
</div>

</div>
</div>
